.heading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}

.main {
    margin-left: 50px;
    margin-right: 160px;
}

img {
    width: 30%;
    transform: rotate(4deg);
    opacity: 0.7;
}

body {
    background-color: antiquewhite;
}